{% block stylesheets %}
    <style>
        .card-options-collapse svg {
            transition: transform 0.3s ease;
        }

        .collapsed .card-options-collapse svg {
            transform: rotate(180deg);
        }
        .table td:first-child {
            max-width: 260px;
            width: 260px;
        }
    </style>
{% endblock %}

{% set resource = hookable_metadata.context.resource %}
<div class="card">
    <div class="card-header" role="button" data-bs-toggle="collapse" data-bs-target="#card-tracking" aria-expanded="true" aria-controls="card-tracking">
        <div class="card-title">
            Tracking
        </div>
        <div class="card-options">
            <a href="#" class="card-options-collapse">
                {{ ux_icon('tabler:chevron-up') }}
            </a>
        </div>
    </div>
    <div id="card-tracking" class="collapse show">
        <div class="table-responsive">
            <table class="table table-vcenter">
                <tbody>
                <tr>
                    <td class="fw-medium">
                        Automatically add tracking code to monitor customer
                    </td>
                    <td class="border-start">
                        {{ resource.trackingEnabled ? 'Yes' : 'No' }}
                    </td>
                </tr>
                <tr>
                    <td class="fw-medium">
                        Render OG tags from page visit events
                    </td>
                    <td class="border-start">
                        {{ resource.opengraphEnabled ? 'Yes' : 'No' }}
                    </td>
                </tr>
                <tr>
                    <td class="fw-medium">
                        Dynamic content for PWA, SPA
                    </td>
                    <td class="border-start">
                        {{ resource.virtualPage ? 'Yes' : 'No' }}
                    </td>
                </tr>
                <tr>
                    <td class="fw-medium">
                        Override cookie domain
                    </td>
                    <td class="border-start">
                        {{ resource.cookieDomain }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
