<div class="card">
    <div class="card-header">
        <div class="card-title">
            {{ 'synerise_integration.ui.synchronization.create.sections.general.title'|trans }}
        </div>
    </div>
    <div class="card-body">
        {{ form_row(hookable_metadata.context.form.type, sylius_test_form_attribute('type')) }}
        <div class="d-flex flex-row align-items-center gap-4">
            {{ form_row(hookable_metadata.context.form.sinceWhen, sylius_test_form_attribute('sinceWhen')) }}
            {{ ux_icon('bi:arrow-right-short', {'class': 'w-4 h-4'}) }}
            {{ form_row(hookable_metadata.context.form.untilWhen, sylius_test_form_attribute('untilWhen')) }}
        </div>
    </div>
</div>
