{% set synchronizationConfiguration = app.request.attributes.get('synchronizationConfiguration') %}
<ol class="breadcrumb" aria-label="breadcrumbs">
    <li class="breadcrumb-item ">
        <a href="{{ path('sylius_admin_dashboard') }}">{{ 'sylius.ui.dashboard'|trans }}</a>
    </li>
    <li class="breadcrumb-item ">
        <a href="{{ path('synerise_integration_admin_synchronization_configuration_index') }}">
            {{ 'synerise_integration.synchronization_configuration.index.title' | trans }}
        </a>
    </li>
    <li class="breadcrumb-item ">
        <a href="{{ path('synerise_integration_admin_synchronization_configuration_show', { id: synchronizationConfiguration.id }) }}">
            {{ synchronizationConfiguration.channel.name }}
        </a>
    </li>
    <li class="breadcrumb-item ">
        {{ 'synerise_integration.synchronization.create.breadcrumbs_name' | trans }}
    </li>
</ol>
