
{% set resource = hookable_metadata.context.resource %}
<div class="card">
    <div class="card-header">
        <div class="card-title">
            {{ 'synerise_integration.show.workspace.sections.main.card_title' | trans }}
        </div>
    </div>
    <div id="card-config">
        <div class="table-responsive">
            <table class="table table-vcenter">
                <tbody>
                    <tr>
                        <td class="text-nowrap fw-medium">
                            {{ 'synerise_integration.form.workspace.name.label'|trans }}
                        </td>
                        <td class="border-start">
                            {{ resource.name }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap fw-medium">
                            {{ 'synerise_integration.form.workspace.api_key.label'|trans }}
                        </td>
                        <td class="border-start">
                            {{ resource.apiKey }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap fw-medium">
                            {{ 'synerise_integration.form.workspace.environment.label'|trans }}
                        </td>
                        <td class="border-start">
                            {{ resource.environment.label }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-nowrap fw-medium">
                            {{ 'synerise_integration.form.workspace.authentication_method.label'|trans }}
                        </td>
                        <td class="border-start">
                            {{ resource.authenticationMethod.label }}
                        </td>
                    </tr>
                    {% if resource.guid is not null %}
                        <tr>
                            <td class="text-nowrap fw-medium">
                                {{ 'synerise_integration.form.workspace.guid.label'|trans }}
                            </td>
                            <td class="border-start">
                                {{ resource.guid }}
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
